@tailwind base;
@tailwind components;
@tailwind utilities;

.area_height {
  transition: height 0.3s ease;
}

.ShadowTask {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dropdownShadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
